@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/* general */

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    background-color: #081229;
}

/* search form */

.btn-outline-secondary {
    color: #fff;
    border-color: #bf1650;
    background-color: #bf1650;
    transition: 0.4s ease-out;
}

.btn-outline-secondary:hover {
    border-color: #bf1650;
    background-color: #8e0031;
}

form input:focus {
    box-shadow: 0px 0px 4px 1px #bf1650 !important;
}

.error {
    color: #bf1650;
}

/* movies list and detail*/

.movie .card {
    margin-bottom: 10px;
    background-color: #bf1650;
    transition: 0.4s ease-out;
}

.movie .card:hover {
    background-color: #fff;
    color: #bf1650;
}

.movie .card img {
    height: 450px !important;
}

.movie a {
    text-decoration: none;
    color: #fff;
}

.detail {
    color: #bf1650;
}